body {
    font-family: "Parkinsans", sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #c9e9fc;
    display: flex;
    justify-content: center;
    /* Centra la barra de navegación */
}

.hero .navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: 800;
}

.hero .navbar a:hover {
    background-color: #8bd3f8;
    color: black;
}

.hero .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-size: 105px;
    color: black;
}

.center {
    background-color: #cdcdcdcd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    height: 40vh;
}

footer {
    background-color: #c9e9fc;
    color: black;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 800;
}

footer p {
    margin: 0;
}

footer .social-icons {
    display: flex;
    gap: 1rem;
}

footer .social-icons a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

footer .social-icons a:hover {
    color: #ddd;
}